:root {
  --main-color: white;
  --main-bg-color: white;
  --dark-bg-color: rgb(25, 25, 25);
  --text-color: rgb(148, 148, 148);
  --text-color-dark: rgb(50, 50, 50);
  --link-color: inherit;
  --link-color-dark: rgb(148, 148, 148);
  --main-blue: #2d8cf0;
  --main-special-color: #f6ac57;
  --blob-color: #bcbcbc;
  --blob-dark-color: #f0e7e7;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  color: var(--text-color-dark);
  margin: 0;
  transition: all 0.5s;
  scroll-behavior: smooth;
  background-color: var(--main-bg-color);
}

.body--dark {
  background-color: var(--dark-bg-color);
  color: var(--main-bg-color);
}

.wrapper {
  display: grid;
  grid-template-rows: 15rem fit-content(50px auto) 5rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

h1 {
  font-size: 1.5em;
}

.header__wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.header__image-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.aboutme__image_container,
.header__image-container {
  position: relative;
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--main-special-color);
}


.aboutme__image_container {
  margin-top: 2rem;
}

.header__image-picture {
  height: 5.5rem;
  position: absolute;
  top: -15px;
  left: -4px;
}

.header__title {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
  margin: 0.5rem 0;
  margin-bottom: 1rem;
}

.bandage {
  display: inline-block;
  color: #fff;
  padding: 0.4rem;
  font-size: 0.7em;
  border-radius: 0.2rem;
  text-align: center;
  margin-bottom: 8px;
  background-color: var(--main-color);
}

.bandage--blue {
  background-color: var(--main-color);
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  margin-bottom: 1.5rem;
}

main {
  grid-area: main;
}

.text {
  opacity: 1;
  line-height: 1.5em;
}

.text--dark {
  opacity: 0.666;
}

.link {
  position: relative;
  opacity: 1;
  color: var(--link-color);
  text-decoration-style: dotted;
  text-underline-position: under;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

.link--dark {
  position: relative;
  color: var(--link-color-dark);
}

.link:hover {
  text-decoration-style: solid;
}

.resume__download-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.resume__download-container small {
  margin-top: 0.5rem;
}

.link--resume {
  font-size: 1em;
}

.link--resume::after {
  top: 1.1rem;
  font-size: 1em;
}

.section {
  padding: 2rem;
  margin-top: 1rem;
}

.section__content {
  margin: 0 auto;
  max-width: 1140px;
}

.section__title {
  margin: 0;
  font-size: 1em;
}

.hi {
  text-align: left;
  font-size: 1.5em;
}

.hi__title {
  font-weight: normal;
  margin: 0;
  font-size: 1em;
  line-height: 1.56em;
}

.hi__title .link::after {
  top: 2rem;
}

.hi__subtitle {
  font-size: 0.7em;
  font-weight: lighter;
  margin: 0;
  margin-top: 1rem;
}

.job {
  margin: 4rem 0 3rem 0;
}

.job:first-of-type {
  margin-top: 1.5rem;
}

.job:last-child {
  margin-bottom: 0;
}

.job__grid {
  position: relative;
  display: flex;
  gap: 1.5rem;
}

.job__grid::before {
  content: '';
  position: absolute;
  left: 35px;
  top: 70px;
  bottom: 0;
  border-left: solid 1px var(--blob-dark-color);
  z-index: 1;
  height: 100%;
}

.section__content .job:last-child .job__grid::before {
  content: '';
  height: 73%;
}

.section--dark .section__content .job .job__grid::before {
  border-left: solid 1px #353535;
}

.job__img {
  position: relative;
  z-index: 2;
  width: 70px;
  height: 70px;
  /* border: solid 1px var(--blob-dark-color); */
  border-radius: 0.2rem;
  /* box-shadow: 0 2px 0 0 var(--blob-dark-color); */
  background: var(--main-bg-color);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .section--dark .job__img { */
/*   border: solid 1px #f0e7e7; */
/*   box-shadow: 0 2px 0 0 darkgrey; */
/*   background: black; */
/* } */

.job__experience-list {
  padding: 0;
  margin: 0;
}

.job .job__desc {
  margin: 0.5rem 0;
  list-style: none;
}

.job .text--dark.job__desc {
  background: none;
  border: none;
  padding: 0;
  box-shadow: none;
}

.job .job__badges {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.job__period {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.job__title {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1em;
  opacity: 0.9;
}

.job__place {
  font-weight: normal;
  margin: 0;
  margin-bottom: 1.5rem;
}

.job__place a {
  display: inline;
}

.project {
  margin-top: 2rem;
}

.project h3 {
  font-size: 1em;
  margin-bottom: 0rem;
}

.project p {
  margin-top: 0;
  margin-bottom: 5px;
}

.project nav {
  margin: 0.5rem 0 0.1rem 0;
}

.project nav> :nth-child(2) {
  margin: 0 0.5rem;
}

.project .topic:first-child {
  margin: 0;
  margin-right: 5px;
}

.project .topic {
  margin: 0 5px;
}

.project .topic::after {
  content: ",";
}

.project .topic:last-child::after {
  content: "";
}

.aboutme {
  line-height: 1.5rem;
}

.fun {
  padding: 0 2rem;
  margin: 0;
  padding-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fun__mate {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 1rem 0;
}

.fun__mate:focus {
  outline: none;
  background: none;
}

.fun__mate:hover {
  transform: rotateZ(35deg) translateX(1rem) translateY(-3rem);
}

.fun__mate:hover::after {
  content: "";
  position: relative;
  width: 10rem;
  height: 10rem;
}

.emoji__high-five {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-top: 16px;
  transition: transform 0.1s ease-out;
  user-select: none;
  z-index: 2;
  background: none;
  border: none;
}

.emoji__high-five:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.emoji__high-five:active {
  cursor: pointer;
  transform: scale(0.9);
}

.emoji__firework {
  display: inline-block;
  font-size: 4rem;
  cursor: pointer;
  position: relative;
}

.fireworks {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  animation: explode 1s forwards;
}

footer {
  grid-area: footer;
  font-size: 0.9em;
  padding: 2rem;
  text-align: center;
}

.main-nav__footer {
  margin: 1rem 0 2rem 0;
  display: block;
}

.footer__wrapper hr {
  opacity: 0.666;

}

.main-nav__footer .main-nav__link:not(:first-child) {
  margin-left: 1rem;
}

.email {
  display: block;
  width: 100%;
  margin: 1rem auto;
  text-align: center;
  z-index: 9;
}

.lamp {
  position: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.1;
  z-index: 0;
}

.lamp--dark {
  display: block;
}

.lava {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  height: 15rem;
}

.blob {
  border-radius: 50%;
  background: var(--blob-color);
  position: absolute;
}

.lamp--dark .blob {
  background: var(--blob-dark-color);
}


.blob:nth-child(1) {
  width: 200px;
  height: 200px;
  left: 35%;
  bottom: -15%;
  animation:
    wobble 4s ease-in-out alternate infinite,
    blob-one ease-in-out 13s infinite;
}

.blob:nth-child(2) {
  width: 125px;
  height: 125px;
  right: 24%;
  bottom: -65%;
  animation:
    wobble 5s ease-in-out alternate infinite,
    blob-two ease-in-out 22s infinite;
}

.blob:nth-child(3) {
  width: 150px;
  height: 150px;
  bottom: -15%;
  left: 34%;
  animation:
    wobble 6s ease-in-out alternate infinite,
    blob-three ease-in-out 16s infinite;
}

.blob:nth-child(4) {
  width: 235px;
  height: 235px;
  bottom: -19%;
  left: 30%;
  animation:
    wobble 7s ease-in-out alternate infinite,
    blob-four ease-in-out 12s infinite;
}

.blob:nth-child(4) {
  width: 235px;
  height: 235px;
  bottom: -19%;
  left: 30%;
  animation:
    wobble 8s ease-in-out alternate infinite,
    blob-four ease-in-out 12s infinite;
}

.blob:nth-child(5) {
  width: 55px;
  height: 55px;
  bottom: -25%;
  left: 34%;
  animation:
    wobble 9s ease-in-out alternate infinite,
    blob-five ease-in-out 32s infinite;
}

.blob:nth-child(6) {
  width: 35px;
  height: 35px;
  bottom: -25%;
  right: 34%;
  animation:
    wobble 10s ease-in-out alternate infinite,
    blob-six ease-in-out 12s infinite;
}

.blob:nth-child(7) {
  width: 100px;
  height: 100px;
  bottom: -85%;
  right: 40%;
  animation:
    wobble 11s ease-in-out alternate infinite,
    blob-seven ease-in-out 32s infinite;
}

.header__email,
.footer__wrapper .text--dark {
  opacity: 1;
}

@keyframes blob-one {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-700%);
  }
}

@keyframes blob-two {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-420%);
  }
}

@keyframes blob-three {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-305%);
  }
}

@keyframes blob-four {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-605%);
  }
}

@keyframes blob-five {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-700%);
  }
}

@keyframes blob-six {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-700%);
  }
}

@keyframes blob-seven {

  0%,
  100% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-300%);
  }
}

@keyframes wobble {
  50% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }

  100% {
    border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
  }
}

@keyframes explode {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: scale(1.5) translate(var(--x), var(--y));
    opacity: 0;
  }
}

@media (min-width: 40rem) {
  .header__wrapper {
    justify-content: space-between;
  }

  .header__image-wrapper {
    justify-content: flex-start;
  }

  .header__title {
    text-align: left;
  }

  .email {
    text-align: left;
  }

  .main-nav {
    justify-content: flex-start;
  }

  .main-nav__link:not(:first-child) {
    margin-left: 1rem;
  }

  .footer__wrapper {
    max-width: 1140px;
    margin: 0 auto;
    text-align: left;
  }

  .theme-toggle-btn {
    margin-top: 0;
    text-align: left;
    width: fit-content;
  }
}

/*Switch*/
.switch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
  z-index: 1;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-bg-color);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid black;
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--main-bg-color);
  box-shadow: 0 3px 0 black;
  transition: 0.3s;
}

.toggle:checked+.slider {
  background-color: var(--main-blue);
}

.toggle:checked+.slider:before {
  transform: translateX(30px);
}
