:root {
  /* --main-color: #f1b168; */
  --main-color: #f6ac57;
  --text-color: rgb(148, 148, 148);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Raleway";
  color: rgb(50, 50, 50);
  margin: 0;
  transition: all 0.5s;
  scroll-behavior: smooth;
}
.body--dark {
  background-color: rgb(25, 25, 25);
  color: #fff;
}

.wrapper {
  display: grid;
  grid-template-rows: 15rem fit-content(50px auto) 5rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  /* background: linear-gradient(#dd8c2e47, transparent); */
}

.header__wrapper {
  /* position: relative; */
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.header__image-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  z-index: 2;
}

.header__image-container {
  position: relative;
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--main-color);
}
.header__image-picture {
  height: 15rem;
  position: absolute;
  top: -5.46rem;
  left: -2.8rem;
}
.header__title {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  font-weight: 300;
  margin: 0.5rem 0;
  margin-bottom: 0;
}

.bandage {
  display: inline-block;
  color: #fff;
  padding: 0.4rem;
  font-size: 0.7em;
  border-radius: 0.2rem;
  text-align: center;
  background-color: var(--main-color);
}
.bandage--blue {
  background-color: rgb(108, 108, 255);
}
.change-theme {
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  margin: 0 1rem;
  outline: none;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
}
.main-nav__link {
  text-decoration: none;
  color: var(--text-color);
}

main {
  grid-area: main;
}

.text {
  opacity: 1;
}
.text--dark {
  opacity: 0.666;
}

.section__content {
  margin: 0 auto;
  max-width: 40rem;
}
.link {
  position: relative;
  text-decoration: none;
  color: var(--main-color);
}
.link::after {
  content: "";
  width: 0%;
  height: 0.1rem;
  position: absolute;
  background-color: var(--main-color);
  top: 1.2rem;
  left: 0;
  transition: all 0.1s;
}
.link:hover::after {
  width: 100%;
}
.resume__download-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.link--resume::after {
  top: 1rem;
}

.section {
  padding: 2rem;
  margin-top: 1rem;
}
.section__title {
  margin: 0;
  font-size: 1.17em;
}

.hi {
  text-align: left;
  font-size: 1.5em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.hi__title {
  /* color: var(--text-color); */
  font-weight: lighter;
  margin: 0;
  font-size: 1.17em;
}
.hi__subtitle {
  font-size: 0.7em;
  font-weight: lighter;
  margin: 0;
  margin-top: 1rem;
}

.job {
  margin: 1.4rem 0 3rem 0;
}
.job:last-child {
  margin-bottom: 0;
}

.job__title {
  margin: 0.5rem 0;
  font-size: 1em;
}
.job__place {
  margin: 0;
  opacity: 0.666;
  margin-bottom: 1.5rem;
  font-size: 0.83em;
}
.job__place a {
  color: inherit;
}

.project {
  margin-top: 2rem;
}
.project h5 {
  margin-bottom: 0rem;
}
.project p {
  margin-top: 0;
}
.project nav {
  margin: 0.5rem 0 1rem 0;
}
.project nav > :nth-child(2) {
  margin: 0 0.5rem;
}

.aboutme {
  line-height: 1.5rem;
}

.fun {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fun__mate {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  margin: 1rem 0;
}
.fun__mate:focus {
  outline: none;
  background: none;
}
.fun__mate:hover {
  transform: rotateZ(35deg) translateX(1rem) translateY(-3rem);
}

footer {
  grid-area: footer;
  font-size: 0.9em;
  color: var(--text-color);
  padding: 2rem;
}
.main-nav__footer {
  margin: 1rem 0 2rem 0;
  display: block;
}
.main-nav__footer .main-nav__link:not(:first-child) {
  margin-left: 1rem;
}
.email {
  display: block;
  width: 100%;
  margin: 1rem auto;
  color: var(--text-color);
  text-align: center;
  z-index: 9;
}

.lamp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.1;
}

.lava {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  height: 15rem;
}

.blob {
  border-radius: 50%;
  background: #fff;
  position: absolute;
}

.blob:nth-child(1) {
  width: 200px;
  height: 200px;
  left: 35%;
  bottom: -15%;
  animation: wobble 4s ease-in-out alternate infinite, blob-one ease-in-out 13s infinite;
}
.blob:nth-child(2) {
  width: 125px;
  height: 125px;
  right: 24%;
  bottom: -65%;
  animation: wobble 5s ease-in-out alternate infinite, blob-two ease-in-out 22s infinite;
}
.blob:nth-child(3) {
  width: 150px;
  height: 150px;
  bottom: -15%;
  left: 34%;
  animation: wobble 6s ease-in-out alternate infinite, blob-three ease-in-out 16s infinite;
}
.blob:nth-child(4) {
  width: 235px;
  height: 235px;
  bottom: -19%;
  left: 30%;
  animation: wobble 7s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
}
.blob:nth-child(4) {
  width: 235px;
  height: 235px;
  bottom: -19%;
  left: 30%;
  animation: wobble 8s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
}
.blob:nth-child(5) {
  width: 55px;
  height: 55px;
  bottom: -25%;
  left: 34%;
  animation: wobble 9s ease-in-out alternate infinite, blob-five ease-in-out 32s infinite;
}
.blob:nth-child(6) {
  width: 35px;
  height: 35px;
  bottom: -25%;
  right: 34%;
  animation: wobble 10s ease-in-out alternate infinite, blob-six ease-in-out 12s infinite;
}
.blob:nth-child(7) {
  width: 100px;
  height: 100px;
  bottom: -85%;
  right: 40%;
  animation: wobble 11s ease-in-out alternate infinite, blob-seven ease-in-out 32s infinite;
}
@keyframes blob-one {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-700%);
  }
}

@keyframes blob-two {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-420%);
  }
}
@keyframes blob-three {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-305%);
  }
}
@keyframes blob-four {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-605%);
  }
}
@keyframes blob-five {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-700%);
  }
}
@keyframes blob-six {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-700%);
  }
}
@keyframes blob-seven {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-300%);
  }
}
@keyframes wobble {
  50% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }
  100% {
    border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
  }
}

@media (min-width: 40rem) {
  .header__wrapper {
    justify-content: space-between;
  }
  .header__image-wrapper {
    justify-content: flex-start;
  }
  .header__title {
    text-align: left;
  }
  .email {
    text-align: left;
  }
  .main-nav {
    justify-content: flex-start;
  }
  .main-nav__link:not(:first-child) {
    margin-left: 1rem;
  }
  .footer__wrapper {
    max-width: 40rem;
    margin: 0 auto;
  }
}
